<article data-ng-controller="GameLoginController as login"
         data-ng-init="login.findActivity()"
         class="landing-page">

    <header class="main-header" data-ng-if="login.available">
        <figure class="main-background">
            <img ng-src="/imgs/activities/{{login.activity.background}}" alt="{{login.activity.title}}">
            <img class="blur" ng-src="/imgs/activities/{{login.activity.background}}" alt="{{login.activity.title}}">
        </figure>
    </header>

    <div class="dialog-bg" ng-if="login.loading">
        <img src="/imgs/app/loadering.gif" alt="{{ 'LOADING' | translate }}"/>
    </div>

    <div class="center-content center-content-form mt-25" data-ng-if="!login.available">
        <h1 class="tit-section" >{{ 'ERROR_NO_ACCESS_GAME' | translate }}</h1>
        <div class="hr-1"></div>
        <div class="txt-message-generic">{{login.message}}</div>
    </div>

    <div data-ng-if="login.available" class="center-content-login">

        <div class="center-content-title extra-margin">
            <h2 class="tit-section mb-0">{{login.activity.title}}</h2>
        </div>

        <div class="center-content-background white">
            <div class="center-content center-content-form">

                <div class="dialog-bg" ng-if="login.success">
                    <i class="icon-checkmark-circle"></i>
                </div>

                <form class="form" data-ng-show="login.available">

                    <div class="txt-error-generic" data-ng-show="login.error">
                        <span data-ng-bind="login.error"></span>
                    </div>

                    <fieldset class="field">
                        <div class="field-label">
                            <label for="email">{{ 'ADD_EMAIL' | translate }}</label>
                        </div>
                        <div class="field-input">
                            <input type="text" data-ng-model="login.email" id="email" placeholder="{{ 'ADD_EMAIL' | translate }}" required />
                        </div>
                    </fieldset>

                    <div class="hr-1"></div>

                    <button class="btn-invert field-button" data-ng-click="login.logInLeader()">Access to the Activity</button>
                </form>
            </div>

        </div>
    </div>

</article>