<article class="center-content center-content-form mt-70"
         data-ng-controller="ResultGameCtrl as result"
         data-ng-init="result.setResults()">

    <div>
        <div class="dialog-bg" ng-if="result.loading">
            <img ng-src="/imgs/app/loadering.gif" alt="Loading..."/>
        </div>
        <div class="form">
            <h1 class="tit-section mt-0">{{result.results.gameTitle}} was Completed!!!</h1>
        </div>
        <div class="hr-1"></div>
        <div class="txt-message-generic">
            Hey {{result.results.leader}}, you have finished this Game, below you can check your results.
        </div>
        <ul>
            <li data-ng-repeat="task in result.results.result track by $index ">
                <h2 class="tit-subsection">
                    {{task.title}}
                </h2>
                <img class="col-1 mb-10"
                     data-ng-if="task.kind_of === 'Picture'"
                     ng-src="/imgs/activities/tasks/{{task.response}}" alt="">
                <p class="txt-center mt-0"
                   data-ng-if="task.kind_of !== 'Picture'"
                   data-ng-class="{'txt-red' : task.state === 'Fail', 'txt-green' : task.state === 'Done'}">
                    <span ng-if="task.state === 'Fail'"><i class="icon-cross-circle"></i> The answer {{task.response}} is wrong.</span>
                    <span ng-if="task.state === 'Done'"><i class="icon-checkmark-circle"></i> The answer {{task.response}} is correct.</span>
                </p>
                <div class="hr-1"></div>
            </li>
        </ul>
    </div>

</article>