<article class="center-content center-content-form mt-70"
         data-ng-controller="IntroductionGameCtrl as intro"
        data-ng-init="intro.findActivity()">

    <h1 class="tit-section mt-0">Welcome to Gymky.me <br />Let's to play!!</h1>
    <div class="hr-1"></div>
    <div class="dialog-bg" ng-if="intro.loading">
        <img src="/imgs/app/loadering.gif" alt="Loading..."/>
    </div>
    <div class="txt-message-generic">
        <ul class="list-bullet">
            <li class="list-title">
                Hey <strong>{{intro.activity.leader}}</strong>, you are the leader of the
                <strong>{{intro.activity.teamName}}</strong>.<br /> You have just to Complete the different kind of
                tasks that your Game have. Your Treasure Hunt <strong><em>"{{intro.activity.title}}"</em></strong>
                has <strong>{{intro.activity.tasks}} </strong> tasks to complete. Enjoy Gymky.me!!
            </li>
        </ul>
    </div>
    <div class="hr-1"></div>
            <button class="btn-red p-float-left" data-ng-click="intro.cancelGame()">
                Cancel
            </button>
            <button class="btn-invert p-float-right" data-ng-click="intro.startGame()">Start the Game</button>
    </div>
</article>