<article class="center-content center-content-form mt-70"
         data-ng-controller="PlayGameCtrl as play"
         data-ng-init="play.setTask()">

    <div>

        <set-task></set-task>

        <div class="dialog-bg" ng-if="play.loading">
            <img ng-src="/imgs/app/loadering.gif" alt="Loading..."/>
        </div>

        <div class="form" data-ng-if="play.task.kind_of === 'Question'">
            <h1 class="tit-section mt-0">{{play.task.title}}?</h1>
            <div class="hr-1"></div>
            <p class="txt-message-generic">
                Hey, {{play.user.leader}}, you should try to be really precise with your response, so be focus with
                the question, but do not forget that the time is coming!!
            </p>
            <fieldset class="field">
                <div class="field-label">
                    <label for="response">Add the response to the question above</label>
                </div>
                <div class="field-input">
                    <input type="text" data-ng-model="play.response" name="response" id="response" required/>
                </div>
            </fieldset>
            <div class="hr-1"></div>
            <button class="btn-invert p-float-right"
                    data-ng-click="play.checkResponse( play.response )">
                Set your Response
            </button>
        </div>

        <div class="form" data-ng-if="play.task.kind_of === 'Multiple'">

            <h1 class="tit-section mt-0">{{play.task.title}}?</h1>
            <div class="hr-1"></div>
            <p class="txt-message-generic">
                Hey, {{play.user.leader}}, you have just one chance to get the right answer, so
                take your time mate!!
            </p>
            <div class="grid">
                <div class="col-1-3"
                     data-ng-repeat="question in play.responses track by $index">
                    <button class="btn-invert field-button-100"
                            data-ng-click="play.checkResponse( question )">
                        {{question}}
                    </button>
                </div>
            </div>
        </div>

        <div class="form" data-ng-if="play.task.kind_of === 'Clue'">

            <h1 class="tit-section mt-0">{{play.task.title}}</h1>
            <div class="hr-1"></div>
            <p class="txt-message-generic">
                Hey, {{play.user.leader}}, this is just a clue to achieve the next goal,
                follow it and good luck!!
            </p>
            <div class="hr-1"></div>
            <button class="btn-invert p-float-right"
                    data-ng-click="play.checkResponse('Clue')">
                Go to the next task
            </button>
        </div>

        <div class="form" data-ng-if="play.task.kind_of === 'Picture'">
            <h2 class="tit-section mt-0">{{play.task.title}}</h2>
            <div class="txt-message-generic">
                Hey, {{play.user.leader}}, just follow the instructions above, and upload one image which
                must be as similar as possible to the instructions.
            </div>
            <div class="hr-1"></div>
            <fieldset class="field">

                <div ng-if="!play.picFile" class="field-empty-background">
                    <p>Upload the Image</p>
                </div>
                <figure ng-if="play.picFile" class="field-background">
                    <img ng-show="form.file.$valid" ngf-thumbnail="play.picFile"
                         ngf-size="{width: 600, height: auto, quality: 0.5}">
                </figure>

                <div class="field-input field-input-img">
                    <label class="btn-invert">
                        Choose File
                        <input type="file" ngf-select ng-model="play.picFile" name="file" accept="image/*" ngf-max-size="2MB">
                    </label>
                </div>

                <button class="btn p-float-right" ng-click="play.uploadBackground(play.picFile)" ng-show="play.picFile">Save Background</button>
                <button class="btn-red p-float-right mr-10" ng-click="play.picFile === null" ng-show="play.picFile">Remove</button>

            </fieldset>
        </div>

        <div data-ng-if="play.task.kind_of === 'Position'">
            <h2 class="tit-subsection mt-0">{{play.task.title}}</h2>
            <div class="hr-1"></div>
            <div class="txt-message-generic">
                Hey, {{play.user.leader}}, you just follow the instructions above, and find the place described. When you
                think the place is right just click mark position button.
            </div>
        </div>

    </div>

</article>
