<div id="section-status" class="grid clearfix mb-25">
    <div class="grid">
        <div data-ng-repeat="item in total track by $index"
                class="status-{{$index}} col-status col-1-{{total.length}}"
                ng-class="{'active': id === $index }">
            <div data-ng-if="id === $index" class="center">
                <span class="icon">
                    <i data-ng-if="item.icon === 'Position'" class="icon-map-marker"></i>
                    <i data-ng-if="item.icon === 'Picture'" class="icon-picture"></i>
                    <i data-ng-if="item.icon === 'Question'" class="icon-question-circle"></i>
                    <i data-ng-if="item.icon === 'Multiple'" class="icon-layers"></i>
                    <i data-ng-if="item.icon === 'Clue'" class="icon-bookmark "></i>

                </span>
             </div>
            <div data-ng-if="id !== $index" class="center">
                <span class="number">
                    {{$index}}
                </span>
            </div>
        </div>
        <div class="hr-status"></div>
    </div>
</div>