@font-face {
    font-family: 'Normal';
    src: url('../fonts/SourceSansPro-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'Lighter';
    src: url('../fonts/SourceSansPro-Light.otf') format('truetype');
}
@font-face {
    font-family: 'Bold';
    src: url('../fonts/SourceSansPro-Black.otf') format('truetype');
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?bc860v');
    src:url('../fonts/icomoon.eot?bc860v#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bc860v') format('truetype'),
    url('../fonts/icomoon.woff?bc860v') format('woff'),
    url('../fonts/icomoon.svg?bc860v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
    content: "\e902";
}
.icon-apartment:before {
    content: "\e903";
}
.icon-arrow-down-circle:before {
    content: "\e904";
}
.icon-arrow-down:before {
    content: "\e905";
}
.icon-arrow-left-circle:before {
    content: "\e906";
}
.icon-arrow-left:before {
    content: "\e907";
}
.icon-arrow-right-circle:before {
    content: "\e908";
}
.icon-arrow-right:before {
    content: "\e909";
}
.icon-arrow-up-circle:before {
    content: "\e90a";
}
.icon-arrow-up:before {
    content: "\e90b";
}
.icon-bicycle:before {
    content: "\e90c";
}
.icon-bold:before {
    content: "\e90d";
}
.icon-book:before {
    content: "\e90e";
}
.icon-bookmark:before {
    content: "\e90f";
}
.icon-briefcase:before {
    content: "\e910";
}
.icon-bubble:before {
    content: "\e911";
}
.icon-bug:before {
    content: "\e912";
}
.icon-bullhorn:before {
    content: "\e913";
}
.icon-bus:before {
    content: "\e914";
}
.icon-calendar-full:before {
    content: "\e915";
}
.icon-camera-video:before {
    content: "\e916";
}
.icon-camera:before {
    content: "\e917";
}
.icon-car:before {
    content: "\e918";
}
.icon-cart:before {
    content: "\e919";
}
.icon-chart-bars:before {
    content: "\e91a";
}
.icon-checkmark-circle:before {
    content: "\e91b";
}
.icon-chevron-down-circle:before {
    content: "\e91c";
}
.icon-chevron-down:before {
    content: "\e91d";
}
.icon-chevron-left-circle:before {
    content: "\e91e";
}
.icon-chevron-left:before {
    content: "\e91f";
}
.icon-chevron-right-circle:before {
    content: "\e920";
}
.icon-chevron-right:before {
    content: "\e921";
}
.icon-chevron-up-circle:before {
    content: "\e922";
}
.icon-chevron-up:before {
    content: "\e923";
}
.icon-circle-minus:before {
    content: "\e924";
}
.icon-clock:before {
    content: "\e925";
}
.icon-cloud-check:before {
    content: "\e926";
}
.icon-cloud-download:before {
    content: "\e927";
}
.icon-cloud-sync:before {
    content: "\e928";
}
.icon-cloud-upload:before {
    content: "\e929";
}
.icon-cloud:before {
    content: "\e92a";
}
.icon-code:before {
    content: "\e92b";
}
.icon-coffee-cup:before {
    content: "\e92c";
}
.icon-cog:before {
    content: "\e92d";
}
.icon-construction:before {
    content: "\e92e";
}
.icon-crop:before {
    content: "\e92f";
}
.icon-cross-circle:before {
    content: "\e930";
}
.icon-cross:before {
    content: "\e901";
}
.icon-database:before {
    content: "\e931";
}
.icon-diamond:before {
    content: "\e932";
}
.icon-dice:before {
    content: "\e933";
}
.icon-dinner:before {
    content: "\e934";
}
.icon-direction-ltr:before {
    content: "\e935";
}
.icon-direction-rtl:before {
    content: "\e936";
}
.icon-download:before {
    content: "\e937";
}
.icon-drop:before {
    content: "\e938";
}
.icon-earth:before {
    content: "\e939";
}
.icon-enter-down:before {
    content: "\e93a";
}
.icon-enter:before {
    content: "\e93b";
}
.icon-envelope:before {
    content: "\e93c";
}
.icon-exit-up:before {
    content: "\e93d";
}
.icon-exit:before {
    content: "\e93e";
}
.icon-eye:before {
    content: "\e93f";
}
.icon-file-add:before {
    content: "\e940";
}
.icon-file-empty:before {
    content: "\e941";
}
.icon-film-play:before {
    content: "\e942";
}
.icon-flag:before {
    content: "\e943";
}
.icon-frame-contract:before {
    content: "\e944";
}
.icon-frame-expand:before {
    content: "\e945";
}
.icon-funnel:before {
    content: "\e946";
}
.icon-gift:before {
    content: "\e947";
}
.icon-graduation-hat:before {
    content: "\e948";
}
.icon-hand:before {
    content: "\e949";
}
.icon-heart-pulse:before {
    content: "\e94a";
}
.icon-heart:before {
    content: "\e94b";
}
.icon-highlight:before {
    content: "\e94c";
}
.icon-history:before {
    content: "\e94d";
}
.icon-home:before {
    content: "\e94e";
}
.icon-hourglass:before {
    content: "\e94f";
}
.icon-inbox:before {
    content: "\e950";
}
.icon-indent-decrease:before {
    content: "\e951";
}
.icon-indent-increase:before {
    content: "\e952";
}
.icon-italic:before {
    content: "\e953";
}
.icon-keyboard:before {
    content: "\e954";
}
.icon-laptop-phone:before {
    content: "\e955";
}
.icon-laptop:before {
    content: "\e956";
}
.icon-layers:before {
    content: "\e957";
}
.icon-leaf:before {
    content: "\e958";
}
.icon-license:before {
    content: "\e959";
}
.icon-lighter:before {
    content: "\e95a";
}
.icon-line-spacing:before {
    content: "\e95b";
}
.icon-linearicons:before {
    content: "\e95c";
}
.icon-link:before {
    content: "\e95d";
}
.icon-list:before {
    content: "\e95e";
}
.icon-location:before {
    content: "\e95f";
}
.icon-lock:before {
    content: "\e960";
}
.icon-magic-wand:before {
    content: "\e961";
}
.icon-magnifier:before {
    content: "\e962";
}
.icon-map-marker:before {
    content: "\e963";
}
.icon-map:before {
    content: "\e964";
}
.icon-menu-circle:before {
    content: "\e965";
}
.icon-menu:before {
    content: "\e966";
}
.icon-mic:before {
    content: "\e967";
}
.icon-moon:before {
    content: "\e968";
}
.icon-move:before {
    content: "\e969";
}
.icon-music-note:before {
    content: "\e96a";
}
.icon-mustache:before {
    content: "\e96b";
}
.icon-neutral:before {
    content: "\e96c";
}
.icon-page-break:before {
    content: "\e96d";
}
.icon-paperclip:before {
    content: "\e96e";
}
.icon-paw:before {
    content: "\e96f";
}
.icon-pencil:before {
    content: "\e970";
}
.icon-phone-handset:before {
    content: "\e971";
}
.icon-phone:before {
    content: "\e972";
}
.icon-picture:before {
    content: "\e973";
}
.icon-pie-chart:before {
    content: "\e974";
}
.icon-pilcrow:before {
    content: "\e975";
}
.icon-plus-circle:before {
    content: "\e976";
}
.icon-pointer-down:before {
    content: "\e977";
}
.icon-pointer-left:before {
    content: "\e978";
}
.icon-pointer-right:before {
    content: "\e979";
}
.icon-pointer-up:before {
    content: "\e97a";
}
.icon-poop:before {
    content: "\e97b";
}
.icon-power-switch:before {
    content: "\e97c";
}
.icon-printer:before {
    content: "\e97d";
}
.icon-pushpin:before {
    content: "\e97e";
}
.icon-question-circle:before {
    content: "\e97f";
}
.icon-redo:before {
    content: "\e980";
}
.icon-rocket:before {
    content: "\e981";
}
.icon-sad:before {
    content: "\e982";
}
.icon-screen:before {
    content: "\e983";
}
.icon-select:before {
    content: "\e984";
}
.icon-shirt:before {
    content: "\e985";
}
.icon-smartphone:before {
    content: "\e986";
}
.icon-smile:before {
    content: "\e987";
}
.icon-sort-alpha-asc:before {
    content: "\e988";
}
.icon-sort-amount-asc:before {
    content: "\e989";
}
.icon-spell-check:before {
    content: "\e98a";
}
.icon-star-empty:before {
    content: "\e98b";
}
.icon-star-half:before {
    content: "\e98c";
}
.icon-star:before {
    content: "\e98d";
}
.icon-store:before {
    content: "\e98e";
}
.icon-strikethrough:before {
    content: "\e98f";
}
.icon-sun:before {
    content: "\e990";
}
.icon-sync:before {
    content: "\e991";
}
.icon-tablet:before {
    content: "\e992";
}
.icon-tag:before {
    content: "\e993";
}
.icon-text-align-center:before {
    content: "\e994";
}
.icon-text-align-justify:before {
    content: "\e995";
}
.icon-text-align-left:before {
    content: "\e996";
}
.icon-text-align-right:before {
    content: "\e997";
}
.icon-text-format-remove:before {
    content: "\e998";
}
.icon-text-format:before {
    content: "\e999";
}
.icon-text-size:before {
    content: "\e99a";
}
.icon-thumbs-down:before {
    content: "\e99b";
}
.icon-thumbs-up:before {
    content: "\e99c";
}
.icon-train:before {
    content: "\e99d";
}
.icon-trash:before {
    content: "\e99e";
}
.icon-underline:before {
    content: "\e99f";
}
.icon-undo:before {
    content: "\e9a0";
}
.icon-unlink:before {
    content: "\e9a1";
}
.icon-upload:before {
    content: "\e9a2";
}
.icon-user:before {
    content: "\e9a3";
}
.icon-users:before {
    content: "\e9a4";
}
.icon-volume-high:before {
    content: "\e9a5";
}
.icon-volume-low:before {
    content: "\e9a6";
}
.icon-volume-medium:before {
    content: "\e9a7";
}
.icon-volume:before {
    content: "\e9a8";
}
.icon-warning:before {
    content: "\e900";
}
.icon-wheelchair:before {
    content: "\e9a9";
}