<!DOCTYPE html>
<html xmlns:ng="http://angular.js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Gymky.me - Create your own Treasure Hunts and enjoy with your friends.">
    <meta name="keywords" content="Treasure Hunt, Treasure Hunt app, Treasure Hunt games, Team building, Scavenger Hunt, Scavenger, Gymky, Gymkyme, Gymky.me, Gymkhana, Games, Friends, Activities">
    <meta name="robots" content="index,follow">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/external/normalize/normalize.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <meta name="viewport" content="initial-scale=1"/>
</head>
<body>

    <main ui-view></main>

    <script type="text/javascript">
        window.user = <%- user || 'null' %>;
    </script>
    <script type="text/javascript" src="/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72541788-1', 'auto');
        ga('send', 'pageview');

    </script>

</body>
</html>