<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/external/normalize/normalize.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="initial-scale=1"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <section id="main-menu">
        <h2 class="tit-logo left">Gymky.me</h2>
        <nav class="close-menu">
            <a href="/" class="btn-menu-icon p-absolute p-right-0" alt="Close Register">
                <span class="close-menu-label txt-small">Close Register</span>&nbsp;
                <i class="icon-cross"></i>
            </a>
        </nav>
    </section>
    <main class="register-page">
        <div class="center-content center-content-tiny">
            <h1 class="tit-section">Register</h1>
            <% for(var i in messages) { %>
            <div class="flash txt-error-generic">
                <i class="icon-warning "></i>&nbsp;
                <%= messages[i] %>
            </div>
            <% } %>
            <form class="form" action="/signup" method="post">
                <div class="hr-1"></div>
                <fieldset class="field">
                    <div class="field-label">
                        <label>First Name:</label>
                    </div>
                    <div class="field-input">
                        <input type="text" name="firstName" required/>
                    </div>
                </fieldset>
                <fieldset class="field">
                    <div class="field-label">
                        <label>Last Name:</label>
                    </div>
                    <div class="field-input">
                        <input type="text" name="lastName" required/>
                    </div>
                </fieldset>
                <fieldset class="field">
                    <div class="field-label">
                        <label>Email:</label>
                    </div>
                    <div class="field-input">
                        <input type="text" name="email" required/>
                    </div>
                </fieldset>
                <fieldset class="field">
                    <div class="field-label">
                        <label>Username:</label>
                    </div>
                    <div class="field-input">
                        <input type="text" name="username" required/>
                    </div>
                </fieldset>
                <fieldset class="field mb-20">
                    <div class="field-label">
                        <label>Password:</label>
                    </div>
                    <div class="field-input">
                        <input type="password" name="password" required/>
                    </div>
                </fieldset>
                <fieldset class="field mb-20">
                    <div class="g-recaptcha" data-sitekey="6LdCqhkTAAAAAMUwF5vT67gmUPUAOY2PEZdMesgF"></div>
                </fieldset>
                <div class="hr-1"></div>
                <button class="btn-invert field-button" type="submit">Register</button>
<!--
                <a class="btn-invert field-button" href="/oauth/facebook">Register with Facebook</a>
-->
            </form>
        </div>
    </main>
</body>
</html>