<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/external/normalize/normalize.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="initial-scale=1"/>
</head>
<body>
    <section id="main-menu">
        <h2 class="tit-logo left">Gymky.me</h2>
        <nav class="close-menu">
            <a href="/" class="btn-menu-icon p-absolute p-right-0"  alt="Close Sign In">
                <span class="close-menu-label txt-small">Close Sign In</span>&nbsp;
                <i class="icon-cross"></i>
            </a>
        </nav>
    </section>
    <main class="register-page">
        <div class="center-content center-content-tiny">
            <h1 class="tit-section">Sign in</h1>
            <% for(var i in messages) { %>
            <div class="flash txt-error-generic"><%= messages[i] %></div>
            <% } %>
            <form class="form" action="/signin" method="post">
                <div class="hr-1"></div>
                <fieldset class="field">
                    <div class="field-label">
                        <label>Username:</label>
                    </div>
                    <div class="field-input">
                        <input type="text" name="username" required />
                    </div>
                </fieldset>
                <fieldset class="field mb-20">
                    <div class="field-label">
                        <label>Password:</label>
                    </div>
                    <div class="field-input">
                        <input type="password" name="password" required />
                    </div>
                </fieldset>
                <div class="hr-1"></div>
                <button class="btn-invert field-button" type="submit">Sign In</button>
<!--
                <a class="btn-invert field-button" href="/oauth/facebook">Sign in with Facebook</a>
-->
            </form>
        </div>

    </main>

</body>
</html>