<main-menu></main-menu>

<section ng-controller="LoginController as login" class="landing-page">

    <header class="main-header">
        <figure class="main-background">
            <img ng-src="/imgs/app/people.jpg" alt="{{ 'ENJOY' | translate }}">
            <img class="blur" ng-src="/imgs/app/people.jpg" alt="{{ 'ENJOY' | translate }}">
        </figure>
    </header>

    <div class="center-content-login">

        <div class="center-content-title">
            <h2 class="tit-section mb-0">{{ 'ENJOY' | translate }}</h2>
            <p class="txt-center txt-shadow txt-small mt-0">{{ 'CREATE' | translate }}</p>
            <a ng-if="!login.authentication.user" class="btn-invert btn-landing-page" href="/signup">{{ 'REGISTER' | translate }}</a>
            <a ng-if="login.authentication.user" class="btn-invert btn-landing-page" href="/#!/activities/create">{{ 'CREATE_NEW' | translate }}</a>
        </div>

        <div class="center-content-background white">
            <div class="center-content">
                <section class="landing-page-section grid clearfix">
                    <article class="col-1-3">
                        <h3 class="tit-subsection mt-0">
                            <i class="icon-pencil"></i>
                        </h3>
                        <h3 class="tit-subsection mt-10">{{ 'CREATE_OWN' | translate }}</h3>
                    </article>
                    <article class="col-1-3">
                        <h3 class="tit-subsection extra-top mt-0">
                            <i class="icon-users red"></i>
                        </h3>
                        <h3 class="tit-subsection mt-10">{{ 'SHARE' | translate }}</h3>
                    </article>
                    <article class="col-1-3">
                        <h3 class="tit-subsection extra-top mt-0">
                            <i class="icon-apartment blue"></i>
                        </h3>
                        <h3 class="tit-subsection mt-10">{{ 'ENJOY_TEAM' | translate }}</h3>
                    </article>
                </section>
            </div>
        </div>
        <!--<div class="center-content-background grey">
            <div class="center-content">

            </div>
        </div>-->

        <footer class="main-footer">
            <main-footer></main-footer>
        </footer>

    </div>

</section>
