.mt-0{
  margin-top: 0;
}
.mt-4{
  margin-top: 4px;
}

.mt-10{
  margin-top: 10px !important;
}

.mt-25{
  margin-top: 25px !important;
}

.mt-70{
  margin-top: 70px !important;
}

.mr-10{
  margin-right: 10px;
}
.ml-10{
  margin-left: 10px !important;
}
.ml-20{
  margin-left: 20px !important;
}
.mb-0{
   margin-bottom: 0 !important;
 }
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px !important;
}
.mb-20{
  margin-bottom: 20px !important;
}
.mb-25{
  margin-bottom: 25px !important;
}

.p-0 {
  padding: 0 !important;
}

.pr-5{
  padding-right: 5px !important;
}

.pt-17{
  padding-top: 17px !important;
}

.p-20{
  padding: 20px;
}

.p-absolute{
  position: absolute;
}

.p-top-0{
  top: 0;
}

.p-right-0{
  right: 0;
}

.p-float-left{
  float: left !important;
}

.p-float-right{
  float: right !important;
}

.txt-center {
  text-align: center;
}



