* {
  @include borderBox;
}

.grid {
  width: 100%;
  background: transparent;
  margin-bottom: $pad;
}

[class*='col-'] {
  float: left;
  padding: 0 $pad/2;
}

.col-1, .w-100 {
  width: 100%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-1-6 {
  width: 16.66%;
}

.col-1-7{
  width: 14.27%;
}

.col-2-6 {
  width: 33.36%;
}

.col-4-5 {
  width: 80%;
}

.col-3-4 {
  width: 75%;
}

.col-1-8 {
  width: 12.5%;
}

.col-1-9 {
  width: 11.11%;
}

.col-1-10 {
  width: 10%;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

form{
  .col-status{
    .number,
    .icon{
      margin: 0 0 0 38%;
    }
  }
}

.col-status{
  margin-bottom: 15px;
  margin-top: -10px;
  .center{
    display: block;
    font-size: 16px;

  }
  .number,
  .icon{
    @include borderRounded;
    font-size: $smallest;
    background: #f1f1f1;
    padding: 13px 17px;
    color: white;
    margin: 0 0 0 20%;
    &.last{
      float: right;
    }

  }
  .icon{
    font-size: 1rem;
    padding: 12px 13px
  }
  .text{
    display: block;
    font-size: $smallest;
    margin-top: 12px;
    margin-left: 8px;
    color: #cccccc;
    text-align: center;
    line-height: 1;
  }
  &.active{
    opacity: 1;
    .number,
    .icon{
      background: $mainColor;
    }
    .text{
      color: $textColor;
    }
  }
}

@media all and (max-width: $widthPhone) {
  #listActivities,
  .landing-page{
    .col-1-2,
    .col-1-3{
      padding: 0 !important;
      width: 100%;
    }
  }
  form{
    .col-status{
      .number,
      .icon{
        margin: 0 0 0 19%;
      }
    }
  }
  .col-status{
    .number,
    .icon{
      margin-left: 5%;
    }
  }
  .box-small-wrapper{
    .col-1-2{
      padding: 0 !important;
      width: 100%;
    }
  }

}

@media all and (min-width: $widthPhone) and (max-width: $widthTablet) {
  #listActivities {
    .col-1-3 {
      padding: 0 !important;
      width: 100%;
    }
  }
}

@media all and (min-width: $widthTablet) and (max-width: $widthDesktop) {
  #listActivities {
    .col-1-3 {
      width: 50%;
    }
  }
}


@media all and (min-width: $widthDesktop) and (max-width: $widthDesktopLarge) {
}

@media all and (min-width: $widthDesktopLarge) {
}

