.main-background{
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  min-width: 100%;
  > img{
    position: absolute;
    width: 100%;
    height: auto;
  }
}

@media all
and (max-width : $widthPhone) {
  body{
    .main-background{
      height: 216px;
      >img{
        top: 0;
      }
    }
  }
}

@media all
and (min-width : $widthPhone)
and (max-width : $widthTablet) {
  body{
    .main-background{
      height: 270px;
      >img{
        top: 0;
        with:110%;
      }
    }
  }
}

@media all
and (min-width : $widthTablet)
and (max-width : $widthDesktop) {
  body{
    .main-background{
      height: 350px;
      >img{
        top: -15%;
      }
    }
  }
}

@media all
and (min-width : $widthDesktop)
and (max-width: $widthDesktopBigger){
  body{
    .main-background{
      height: 490px;
      >img{
        top: -10%;
      }
    }
  }
}

@media all
and (min-width: $widthDesktopBigger){
  body{
    .main-background{
      height: 550px;
      >img{
        top: -25%;
      }
    }
  }
}

