h1, h2, h3, h4, h5, h6{
  color: $textColor;
  font-family: 'Lighter';
  font-weight: 100;
}

h1{
  font-size: $huger;
}
h2{
  font-size: $huge;
}
h3{
  font-size: $biggest;
}
h4{
  font-size: $bigger;
}
h5{
  font-size: $big;
}
h6{
  font-size: $normal;
}

p{
  font-family: 'Normal';
}

.tit-section {
  text-align: center;
  font-size: $huger;
  line-height: 1;
}

.tit-game{
  position: absolute;
  width: 100%;
  z-index: $z-index-100;
  font-family: 'Bold';
  font-size: 1rem;
  text-align: center;
  color: $textColor;
}

.tit-subsection {
  font-size: $biggest;
  text-align: center;
  margin-bottom: 10px !important ;
  >i {
    font-weight: 100;
    border-radius: 50%;
    width: 60px !important;
    margin: 0 auto;
    background: transparent;
    border: 2px solid $mainColor;
    color: $mainColor;
    width: auto;
    display: block;
    padding: 11px 10px;
    &.red{
      border-color: $secondColor;
      color: $secondColor
    }
    &.blue{
      border-color: $textColor;
      color: $textColor;
    }

  }
}

.tit-logo{
  position: absolute;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: Bold;
  color: $textColor;
  margin: 0;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  &.left{
    left: 13px;
    transform: none;
    z-index: $z-index-1;
  }
}

.txt-small {
  font-family: 'Lighter';
  font-size: $small;
}


.txt-center{
  text-align: center;
  img{
    vertical-align: bottom;
  }
}

.txt-error {
  width: 100%;
  text-align: right;
  color: $textError;
}

.txt-red{
  color: $textError;
}
.txt-green{
  color: $mainColor;
}

.txt-error-generic{
  @include borderBox;
  @include border2px;
  font-size: $small;
  line-height: 1.2;
  background: white;
  width: 100%;
  color: $textError;
  border: 1px solid $textError;
  padding: 10px 15px;
  margin: 10px auto 21px;
  text-align: center;
}

.txt-message-generic{
  @extend .txt-error-generic;
  background: white;
  color: $mainColor;
  border: 1px solid $mainColor;
  > .link{
    color: $mainColor !important;
  }
}

.txt-shadow{
  text-shadow: 1px 1px 6px #333333;
}

.time-counter{
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: lighter;
  font-size: $biggest;

}

/*
 * links
 */

.link {
  color: $secondColor;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.hr-1 {
  height: 0;
  border: 0;
  border-top: 1px solid rgba(150, 150, 150, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}

.hr-status{
  height: 0;
  border: 0;
  width: 85%;
  display: block;
  border-top: 3px solid rgba(150, 150, 150, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 17px auto;
}

.hr-small-margin {
  margin-bottom: 20px;
}

.hr-dark{
  float: left;
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid darken($textColor, 2%);
  margin: 25px 0 ;
}