<div class="form center-content clearfix grid pt-17">

    <div class="clearfix col-1">

        <div class="col-1-3 p-float-right p-0">
            <fieldset class="field mb-0">
                <div class="field-input">
                    <md-select class="dark mb-0"
                               ng-model="currentLanguage"
                               ng-change="setLanguage()"
                               placeholder="Select your language">
                        <md-option ng-repeat="language in languages" value="{{language.abbr}}">
                            {{language.value}}
                        </md-option>
                    </md-select>
                </div>
            </fieldset>
        </div>

        <p class="col-2-3 p-0">
            © Gymky.me,&nbsp; {{year}}
            &nbsp; | &nbsp;
            <a href="#">
                {{ 'T&C' | translate }}
            </a>
            &nbsp; | &nbsp;
            <a href="mailto:gymke.me@gmail.com">
                {{ 'CONTACT' | translate }}
            </a>
            &nbsp; | &nbsp;
            <a href="https://twitter.com/@gymky_me" target="_blank">
                Twitter
            </a>
            &nbsp; | &nbsp;
            <a href="https://www.instagram.com/gymkyme/">Instagram &nbsp;</a>
        </p>

    </div>

</div>