html{
  font-family: Normal;
  font-size: $normal;
  background: #fafafa !important;
  min-height: 100%;
  body{
    background: #fafafa !important;
    .register-page,
    .form-page{
      position: absolute;
      top: 45px;
      left: 0;
      width: 100%;
      z-index: $z-index-1;
      .form-page-header{
        position: absolute;
        width: 100%;
        top: -75px;
      }
    }
    .landing-page,
    .landing-page-header{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: $z-index-1;
      .center-content-login{
        position: absolute;
        width: 100%;
        z-index: $z-index-100;
        .center-content-title{
          color: #ffffff !important;
          padding: 0 25px;
          display: block;
          margin: 0 auto;
          width: 100%;
          z-index: 2;
          .tit-section{
            color: #ffffff !important;
            text-shadow: 0px 0px 8px #333333;
            text-transform: uppercase;
          }
        }
        .center-content-background{
          width: 100%;
          .center-content{
            background: transparent;
            margin-top: 0 !important;
            padding: 50px 0 25px;
          }
          &.white{
            background: white;
          }
          &.grey{
            background: #fafafa;
          }
        }
        .center-content{
          background: #fafafa;
          max-width: $widthDesktop;
          margin: 20px auto 0;
          padding: 10px;
          .landing-page-section{

            .tit-subsection{
              font-size: 2rem;
            }
          }
          &.center-content-form{
            max-width: 600px;
          }
          &.center-content-tiny{
            max-width: 350px;
          }
        }
      }
      .center-content-wrapper{
        background: #fafafa;
        position: absolute;
        width: 100%;
        z-index: $z-index-100;
        .center-content{
          max-width: $widthDesktop;
          margin: 20px auto 0;
          padding: 10px;
          .landing-page-section{
            &.white{
              background: white;
            }
            .tit-subsection{
              font-size: 2rem;
            }
          }
          &.center-content-form{
            max-width: 600px;
          }
          &.center-content-tiny{
            max-width: 350px;
          }
        }
      }
    }
    .main-header {
      position: fixed;
      width: 100%;
      .blur{
        opacity: 0;
        -webkit-filter: blur(5px);
        filter: blur(5px);
      }
     .main-header-figure{
        position: relative;
        width: 100%;
        height: 350px;
        overflow: hidden;
        > img{
          position: absolute;
          bottom: -10%;
          max-width: 100%;
          height: auto;
          width: 100%;
        }
        &.main-header-figure-empty{
          background: #f1f1f1;
          span{
            color: #b1b1b1;
            width: 100%;
            display: block;
            margin: 150px 0;
            text-align: center;
            font-size: $tiny;
          }
       }
     }
    }
    .center-content{
      max-width: $widthDesktop;
      margin: 20px auto 0;
      padding: 10px;
      &.center-content-form{
        max-width: 600px;
      }
      &.center-content-tiny{
        max-width: 350px;
      }
    }
  }
  ul{
    list-style: none;
  }
  figure, ul{
    margin: 0;
    padding: 0;
  }
  .main-footer{
    background: $textColor;
    color: white;
    width: 100%;
    .center-content{
      background: $textColor !important;
      display: block;
      margin: 0 auto !important;
      p,a{
        font-size: $smallest;
        color: white;
        text-decoration: none;

      }
    }
  }
}

@media all
and (max-width : $widthPhone) {
  html {
    body {
      .landing-page-section{
        .tit-subsection{
          &.extra-top{
            margin-top: 20px;
          }
        }
      }
      .landing-page,
      .landing-page-header{
        .center-content-wrapper{
          margin-top: 216px;
        }
      }
      .main-header {
        height: 216px;
        .main-header-figure {
          height: 216px;
          &.main-header-figure-empty{
            span{
              margin: 100px 0;
            }
          }
        }
      }
      .center-content-background {
        .center-content{
          padding: 50px 10px 25px !important;
        }
      }
      .center-content-login {
         position: absolute;
         width: 100%;
         z-index: $z-index-100;
         .center-content-title {
           padding: 40px 0 35px !important;
           &.extra-margin{
             padding: 75px 0 60px !important;
           }
           .tit-section{
             font-size: 2rem;
           }
         }
       }
      .center-content{
        margin:10px auto 0;
        padding-left:10px !important;
        padding-right: 10px !important;
        .landing-page-section{
          .tit-subsection{
            font-size: 1.5rem !important;
          }
          i{
            padding: 15px;
          }
        }
      }
      .main-footer{
        .col-2-3,
        .col-1-3{
          width: 100%;
          padding: 10px 0;
        }
        .col-2-3{
          text-align: center;
        }
        .col-1-3{
          margin-top: 10px;
        }
      }
    }
  }
}


@media all
and (min-width : $widthPhone)
and (max-width : $widthTablet) {
  html{
    body{
      .landing-page,
      .landing-page-header{
        .center-content-wrapper{
          margin-top: 270px;
        }
      }
      .main-header {
        height: 270px;
        .main-header-figure {
          height: 270px;
          &.main-header-figure-empty{
            span{
              margin: 130px 0;
            }
          }
        }
      }
      .center-content-background {
        .center-content{
          padding: 50px 10px 25px !important;
        }
      }
      .center-content-login {
        position: absolute;
        width: 100%;
        z-index: $z-index-100;
        .center-content-title {
          padding: 55px 0 !important;
          &.extra-margin{
            padding: 100px 0 90px !important;
          }
          .tit-section{
            font-size: 2.5rem;
          }
          .txt-small{
            font-size: $big;
          }
        }
      }
    }
  }
}

@media all
and (min-width : $widthTablet)
and (max-width : $widthDesktop) {
  html{
    body{
      .landing-page,
      .landing-page-header{
        .center-content-wrapper{
          margin-top: 350px;
        }
      }
      .main-header{
        height: 350px;
        .main-header-figure {
          height: 350px;
          &.main-header-figure-empty{
            span{
              margin: 170px 0;
            }
          }
        }
      }
      .center-content-login {
        position: absolute;
        width: 100%;
        z-index: $z-index-100;
        .center-content-title {
          padding: 86px 0 !important;
          .tit-section{
            font-size: 3rem;
          }
          .txt-small{
            font-size: $bigger;
          }
        }
      }
    }
  }
}

@media all
and (min-width : $widthDesktop)
and (max-width: $widthDesktopBigger){
  html{
    body{
      .landing-page,
      .landing-page-header{
        .center-content-wrapper{
          margin-top: 490px;
        }
      }
      .main-header{
        height: 490px;
        .main-header-figure {
          height: 490px;
          &.main-header-figure-empty{
            span{
              margin: 240px 0;
            }
          }
        }
      }
      .center-content-login {
        position: absolute;
        width: 100%;
        z-index: $z-index-100;
        .center-content-title {
          padding: 134px 0 !important;
          .tit-section{
            font-size: 4rem;
          }
          .txt-small{
            font-size: $biggest;
          }
        }
      }
    }
  }
}

@media all
and (min-width: $widthDesktopBigger){
  html{
    body{
      .landing-page,
      .landing-page-header{
        .center-content-wrapper{
          margin-top: 550px;
        }
      }
      .main-header{
        height: 550px;
        .main-header-figure {
          height: 550px;
          &.main-header-figure-empty{
            span{
              margin: 280px 0;
            }
          }
        }
        .main-header-title{
          top: 28%;
          &.main-header-game{
            top: 46%;
          }
          .tit-section{
            font-size: 4rem;
          }
          .txt-small{
            font-size: $biggest;
          }
        }
      }
      .center-content{
        max-width: $widthDesktopLarge;
      }
      .center-content-login {
        position: absolute;
        width: 100%;
        z-index: $z-index-100;
        .center-content-title {
          padding: 165px 0 !important;
          .tit-section{
            font-size: 4rem;
          }
          .txt-small{
            font-size: $biggest;
          }
        }
      }
    }
  }
}