@import "../properties/all";

main-menu,
#main-menu{
  position: fixed;
  width: 100%;
  z-index: $z-index-10;
}

.close-menu{
  height: 45px;
  border-bottom: 1px solid #f1f1f1;
  background: #ffffff;
  z-index: 101 !important;
  .close-menu-label{
    float: left;
    margin-top: -1px;
  }
}

.mobile-menu{
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
}

.desktop-menu{
  height: 46px;
  .desktop-menu-bg{
    width: 100%;
    height: 46px;
    opacity: .9;
    background: #ffffff;
    border-bottom: 1px solid #f1f1f1;
  }
  .desktop-menu-right{
    position: absolute;
    top: 0;
    height: 45px;
    right: 0;
  }
  .desktop-menu-btn{
    @include transition3s;
    font-family: 'Lighter';
    font-size: 15px;
    background: transparent;
    line-height: 1.25rem;
    color: $secondColor;
    padding: 13px 15px;
    margin: 0px;
    text-align: center;
    width: auto;
    text-decoration: none;
    white-space: nowrap;
    float: left;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  .desktop-menu-btn-invert{
    background: $secondColor;
    color: #ffffff;
    padding: 13px 17px;
    border-left: 1px solid #f1f1f1;
    &:hover {
      background: transparent;
      color: $secondColor;
      text-decoration: none;
    }
  }
}

.left-menu{
  @include transition3s;
  position: fixed;
  background: $textColor;
  z-index: $z-index-10;
  &.left-menu-vertical{
    width: 80%;
    height: 100%;
    min-height: 100%;
    top: 0;
    z-index: $z-index-100;
    a{
      border-bottom: 1px solid darken($textColor, 10);
      padding: 1em;
    }
  }
  &.left-menu-closed {
    left: -80%;
    &.left-menu-open{
      left: 0;
    }
  }
  a{
    @include transition3s;
    display: block;
    color: #fff;
    font-size: 1rem;
    font-family: 'Normal';
    text-decoration: none;
    &:hover,
    &:active{
      @include transition3s;
      background: darken($textColor, 10);
    }
  }
}

@media all
and (max-width : $widthPhone) {
  body{
    #menu-desktop{
      display: none;
    }
    .close-menu{
      .close-menu-label{
        display: none;
      }
    }
  }
}

@media all
and (min-width : $widthPhone)
and (max-width : $widthTablet) {
  body{
    #menu-desktop{
      display: none;
    }
    .close-menu{
      .close-menu-label{
        display: none;
      }
    }
  }
}

@media all
and (min-width : $widthTablet)
and (max-width : $widthDesktop) {
  body{
    #menu-mobile{
      display: none;
    }
    #menu-desktop{
      display: block;
    }
  }
}

@media all
and (min-width : $widthDesktop)
and (max-width: $widthDesktopBigger){
  body{
    #menu-mobile{
      display: none;
    }
    #menu-desktop{
      display: block;
    }
  }
}

@media all
and (min-width: $widthDesktopBigger){
  body{
    #menu-mobile{
      display: none;
    }
    #menu-desktop{
      display: block;
    }
  }
}