<nav id="menu-mobile" class="mobile-menu">
    <button id="mobile-menu-btn" class="btn-menu-icon" data-ng-click="showMenu()">
        <i class="icon-menu"></i>
    </button>
    <h1 class="tit-logo">Gymky.me</h1>
    <figure data-ng-show="authentication" class="btn-image p-absolute p-top-0 p-right-0 mr-10">
        <img ng-src="/imgs/users/{{authentication.avatar}}" alt="{{authentication.name}}" width="50px" height="auto">
    </figure>
    <div class="left-menu">
        <div class="menu-mask" data-ng-click="hideMenu()">
            <i class="icon-"></i>
        </div>
        <div data-ng-show="authentication" class="left-menu left-menu-vertical left-menu-closed">
            <a data-ng-click="hideMenu()" ng-href="#!/activities/create">
                {{ 'CREATE_ACTIVITY' | translate }}
                <i class="icon-pencil p-float-right"></i>
            </a>
            <a data-ng-click="hideMenu()" ng-href="#!/activities">
                {{ 'LIST' | translate }}
                <i class="icon-layers p-float-right"></i>
            </a>
            <a data-ng-click="hideMenu()">
                {{ 'LIST_PUBLIC' | translate }}
                <i class="icon-layers p-float-right"></i>
            </a>
            <a data-ng-click="hideMenu()" ng-href="#!/profile/{{authentication._id}}/edit">
                {{ 'EDIT_PROFILE' | translate }}
                <i class="icon-users p-float-right"></i>
            </a>
            <a data-ng-click="cleanCookies()" href="/signout">
                {{ 'SIGN_OUT' | translate }}
                <i class="icon-cross p-float-right"></i>
            </a>
        </div>
        <div data-ng-show="!authentication" class="left-menu left-menu-vertical left-menu-closed">
            <a href="/signup">{{ 'REGISTER' | translate }}</a>
            <a href="/signin">{{ 'LOG_IN' | translate }}</a>
        </div>
    </div>
</nav>
<nav id="menu-desktop" class="desktop-menu">
    <h2 class="tit-logo left">Gymky.me</h2>
    <div class="menu-mask" data-ng-click="hideMenu()"></div>
    <div class="desktop-menu-bg"></div>
    <div class="desktop-menu-right" data-ng-show="authentication">
        <a class="desktop-menu-btn" ng-href="#!/activities/create">{{ 'CREATE_ACTIVITY' | translate }}</a>
        <a class="desktop-menu-btn" ng-href="#!/activities">{{ 'LIST' | translate }}</a>
        <a class="desktop-menu-btn pr-5" ng-href="#!/profile/{{authentication._id}}/edit">{{ 'EDIT_PROFILE' | translate }}</a>
        <a class="btn-image p-float-left" ng-href="#!/profile/{{authentication._id}}/edit" alt="{{ 'SIGN_OUT' | translate }}">
            <img ng-src="/imgs/users/{{authentication.avatar}}" alt="{{authentication.name}}" width="50px" height="auto" />
        </a>
        <a data-ng-click="cleanCookies()"
           class="desktop-menu-btn desktop-menu-btn-invert ml-20"
           href="/signout" alt="{{ 'SIGN_OUT' | translate }}">
            <i class="icon-cross"></i>
        </a>
    </div>
    <div data-ng-show="!authentication" class="desktop-menu-right mr-10">
        <a class="desktop-menu-btn" href="/signup">{{ 'REGISTER' | translate }}</a>
        <a class="desktop-menu-btn " href="/signin">{{ 'LOG_IN' | translate }}</a>
    </div>
</nav>