<section id="main-menu">
    <nav data-ng-if="!teamLeader" class="close-menu">
        <time class="time-counter" ng-if="counter">00:00</time>
        <a href="/" class="btn-menu-icon p-absolute p-right-0"  alt="Close Sign In">
            <span class="close-menu-label txt-small">Close Game</span>&nbsp;
            <i class="icon-cross"></i>
        </a>
    </nav>
</section>