<div data-ng-show="!activity.team.length" class="txt-message-generic">{{message}}</div>
<fieldset id="section-status" class="grid">
    <div class="grid">
        <div class="status-1 col-status col-1-4">
            <div class="center">
                <span class="icon">
                    <i class="icon-pencil"></i>
                </span>
            </div>
        </div>
        <div class="status-2 col-status col-1-4">
            <div class="center">
                <span class="icon middle">
                    <i class="icon-users"></i>
                </span>
            </div>
        </div>
        <div class="status-3 col-status col-1-4">
            <div class="center">
                <span class="icon middle">
                    <i class="icon-layers"></i>
                </span>
            </div>
        </div>
        <div class="status-4 col-status col-1-4">
            <div class="center">
                <span class="icon">
                    <i class="icon-picture"></i>
                </span>
            </div>
        </div>
        <div class="hr-status"></div>
    </div>
    <div class="grid">
        <div class="status-1 col-status col-1-4 ">
            <span class="text">{{ 'ADD_ACTIVITY' | translate }}</span>
        </div>
        <div class="status-2 col-status col-1-4 ">
            <span class="text">{{ 'ADD_TEAMS' | translate }}</span>
        </div>
        <div class="status-3 col-status col-1-4 ">
            <span class="text">{{ 'ADD_TASKS' | translate }}</span>
        </div>
        <div class="status-4 col-status col-1-4 ">
            <span class="text">{{ 'ADD_BACKGROUND' | translate }}</span>
        </div>
    </div>
</fieldset>
