<div class="grid box-small-wrapper clearfix">
    <div class="col-1-2" data-ng-repeat="team in activity.team track by $index">
        <div class="box-small">
            <button data-ng-if="createTeam.showButton"
                    data-ng-click="remove( activity.team, $index )"
                    class="icon-cross box-small-btn">
            </button>
            <div class="box-small-icon box-small-{{task.kind_of | lowercase}}">
                <i class="icon-users"></i>
            </div>
            <h3 class="box-small-title">{{team.title}}</h3>
            <p class="box-small-txt">{{team.email}}</p>
        </div>
    </div>
</div>