<div class="grid box-small-wrapper clearfix">
    <div class="col-1-2" data-ng-repeat="task in activity.task track by $index">
        <div class="box-small">
            <button data-ng-if="createTask.showButton"
                    data-ng-click="remove( activity.task, $index )"
                    class="icon-cross box-small-btn">
            </button>
            <div class="box-small-icon box-small-{{task.kind_of | lowercase}}">
                <i data-ng-if="task.kind_of === 'Position'" class="icon-map-marker"></i>
                <i data-ng-if="task.kind_of === 'Picture'" class="icon-picture"></i>
                <i data-ng-if="task.kind_of === 'Question'" class="icon-question-circle"></i>
                <i data-ng-if="task.kind_of === 'Multiple'" class="icon-layers"></i>
                <i data-ng-if="task.kind_of === 'Clue'" class="icon-bookmark "></i>
            </div>
            <h3 class="box-small-title">{{task.title | limitTo: limit}}{{task.title.length > limit ? '...' : '' }}</h3>
            <p data-ng-if="task.kind_of === 'Question'" class="box-small-txt">{{task.response | limitTo: limit}}{{task.response > limit ? '...' : '' }} </p>
            <p data-ng-if="task.kind_of === 'Multiple'" data-ng-repeat="responses in task.responses" class="box-small-txt">
                <span data-ng-if="responses.state ">{{responses.value}}</span>
            </p>
        </div>
    </div>
</div>