<article class="center-content center-content-form"
         data-ng-controller="ProfileController as profile"
         data-ng-init="profile.getProfile()">

    <h1 class="tit-section mt-0">
        {{ 'EDIT_PROFILE' | translate }}
    </h1>

    <div class="txt-error-generic" data-ng-show="profile.error">
        <span data-ng-bind="profile.error"></span>
    </div>

    <div class="dialog-bg" ng-if="profile.loading">
        <img ng-src="/imgs/app/loadering.gif" alt="{{ 'LOADING' | translate }}"/>
    </div>

    <div class="dialog-bg" data-ng-if="profile.success">
        <i class="icon-checkmark-circle"></i>
    </div>

    <form class="form">

        <div class="hr-1"></div>

        <fieldset class="field field-figure">

            <figure ng-show="!profile.picFile" class="field-avatar">
                <img ng-src="/imgs/users/{{profile.user.avatar}}" alt="{{profile.user.fullName}}">
            </figure>
            <figure ng-show="profile.picFile" class="field-avatar">
                <img ng-show="form.file.$valid" ngf-thumbnail="profile.picFile" class="thumb" alt="{{profile.user.fullName}}">
            </figure>
            <div class="field-input field-input-img">
                <label class="btn">
                    {{ 'CHOOSE_FILE' | translate }}
                    <input type="file" ngf-select ng-model="profile.picFile" name="file" accept="image/*" ngf-max-size="2MB">
                </label>
            </div>
            <button class="btn p-float-right" ng-click="profile.uploadAvatar(profile.picFile)" ng-show="profile.picFile">
                {{ 'SAVE_AVATAR' | translate }}
            </button>
            <button class="btn-red p-float-right mr-10" ng-click="profile.picFile === null" ng-show="profile.picFile">
                {{ 'REMOVE' | translate }}
            </button>
        </fieldset>

        <div class="hr-1"></div>

        <fieldset class="field">
            <div class="field-label">
               <label for="firstName">{{ 'FIRST_NAME' | translate }}</label>
            </div>
           <div class="field-input">
               <input type="text" data-ng-model="profile.user.firstName" id="firstName" placeholder="{{ 'FIRST_NAME' | translate }}" required />
           </div>
        </fieldset>

        <fieldset class="field">
            <div class="field-label">
                <label for="lastName">{{ 'LAST_NAME' | translate }}</label>
            </div>
            <div class="field-input">
                <input type="text" data-ng-model="profile.user.lastName" id="lastName" placeholder="{{ 'LAST_NAME' | translate }}" required />
            </div>
        </fieldset>

        <fieldset class="field">
            <div class="field-label">
                <label for="email">{{ 'EMAIL' | translate }}</label>
            </div>
            <div class="field-input">
                <input type="email" data-ng-model="profile.user.email" id="email" placeholder="{{ 'EMAIL' | translate }}" required />
            </div>
        </fieldset>

        <fieldset class="field mb-20">
            <div class="field-label">
                <label for="username">{{ 'USERNAME' | translate }}</label>
            </div>
            <div class="field-input">
                <input type="text" data-ng-model="profile.user.username" id="username" placeholder="{{ 'USERNAME' | translate }}" required />
            </div>
        </fieldset>

        <div class="hr-1"></div>
        <div class="grid mobile-menu-footer">
            <div class="col-1-2">
                <button class="btn-red p-float-left" data-ng-click="profile.cancelEditProfile()">
                    {{ 'CANCEL' | translate }}
                </button>
            </div>
            <div class="col-1-2">
                <button class="btn-invert p-float-right" data-ng-click="profile.updateProfile()">{{ 'SAVE_PROFILE' | translate }}</button>
            </div>
        </div>
    </form>
</article>