.box{
  background: #ffffff;
  position: relative;
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
  height: 260px;
  .box-header{
    .box-header-btn{
      position: absolute;
      right: 8px;
      top: 8px;
      z-index: $z-index-1;
      padding: 3px 6px 2px;
      background: transparent;
      color: $secondColor;
      font-size: $smallest;
      &.left{
        left: 8px;
        background: $mainColor;
        color: white;
        &:hover{
          background: white;
          color: $mainColor !important;
        }
      }
      &:hover{
        background: $secondColor;
        color: white;
      }
    }
    .box-figure{
      position: relative;
      width: 100%;
      height: 140px;
      overflow: hidden;
      > img{
        position: absolute;
        bottom: -10%;
        max-width: 100%;
        height: auto;
        width: 100%;
      }
      &.box-figure-empty{
        background: #f1f1f1;
        span{
          color: #b1b1b1;
          width: 100%;
          display: block;
          margin: 60px 0;
          text-align: center;
          font-size: $tiny;
        }
      }
    }
    .box-title{
      padding: 10px 10px 3px;
      margin: 0;
      font-size: $biggest;
      > a {
        text-decoration: none;
        font-size: $biggest;
        color: $textColor;
        > i {
          font-size: $smallest;
          margin-left: 15px;
        }
        &:hover{
          color: $mainColor;
        }
      }
    }
    .box-list{
      padding: 0 10px;
      > li {
        display: inline-block;
        font-size: $smallest;
        color: $titleColor;
        width: auto;
        margin-right: 10px;
      }
    }
  }
  .box-content{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #f1f1f1;
    border-top: 1px dotted #f1f1f1;
    padding: 10px;
    color: $titleColor;
    .box-content-tag{
      @include border25px;
      font-size: $tiny;
      float: right;
      padding: 4px 8px !important;
      color: #ffffff;
      &.box-content-open{
        background: $titleColor;
      }
      &.box-content-active{
        background: $mainColor;
      }
      &.box-content-closed{
        background: $secondColor;
      }
    }
  }
}

.box-content-tag{
  @include border25px;
  font-size: $tiny;
  padding: 3px 8px;
  color: #ffffff;
  font-style: normal;
  &.box-content-open{
    background: $titleColor;
  }
  &.box-content-active{
    background: $mainColor;
  }
  &.box-content-closed{
    background: $secondColor;
  }
}

.box-small{
  background: #ffffff;
  position: relative;
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
  padding: 8px;
  height: 70px;
  > .box-small-icon{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25px;
    background: $mainColor;
    i{
      float: left;
      margin: 5px;
      color: white;
    }
    &.box-small-clue{
      background: $titleColor;
    }
    &.box-small-question{
      background: $mainColor;
    }
    &.box-small-picture{
      background: $textColor;
    }
    &.box-small-position,
    &.box-small-multiple{
      background: $secondColor;
    }
  }
  > .box-small-title{
    white-space: nowrap;
    margin: 0 0 0 25px;
    line-height: 1.2;
  }
  > .box-small-txt{
    font-size: 0.9rem;
    color: $textColor;
    margin: 2px 0 0 25px;
  }
  > .box-small-btn{
    color: $secondColor;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    padding: 5px;
    cursor: pointer;
    &:hover{
      color: $textColor;
    }
  }
}

@media all and (max-width: $widthPhone) {

}

@media all and (min-width: $widthPhone) and (max-width: $widthTablet) {
  .box{
    .box-header{
      .box-figure{
        > img{
          bottom: -50%;
        }
      }
    }
  }
}

@media all and (min-width: $widthTablet) and (max-width: $widthDesktop) {

}

@media all and (min-width: $widthDesktop) and (max-width: $widthDesktopLarge) {

}

@media all and (min-width: $widthDesktopLarge) {

}