@import "../properties/all";

.btn {
  @include transition3s;
  @include border25px;
  font-family: 'Lighter';
  font-size: $small;
  background: white;
  border: 1px solid $mainColor;
  line-height: 1.25rem;
  color: $mainColor;
  padding: 6px 20px 7px;
  margin: 0px 0px 10px 0;
  text-align: center;
  width: auto;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  &:hover {
    @include transition3s;
    background: $mainColor;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid $mainColor;
  }
  &:focus {
    outline: 0;
  }
  &.selected {
    border-color: $textColor;
    color: $textColor;
  }
  &.disabled {
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
  }
}

.btn-menu-icon{
  @extend .btn;
  margin: 0;
  background: transparent;
  color: $secondColor;
  border: none;
  padding: 11px 15px;
  [class^="icon-"],
  [class*=" icon-"] {
    font-weight: bolder;
    font-size: 1.1rem;
  }
  &:hover{
    color: $secondColor;
    background: transparent;
    border: none;
  }
}

.btn-invert{
  @extend .btn;
  background: $mainColor;
  border: 1px solid $mainColor;
  color: #ffffff;
  &:hover{
    background: white;
    color: $mainColor;
    cursor: pointer;
    border: 1px solid $mainColor;
  }
}

.btn-red{
  @extend .btn;
  background: $secondColor;
  border: 1px solid $secondColor;
  color: white;
  &:hover{
    background: white;
    color: $secondColor;
    cursor: pointer;
    border: 1px solid $secondColor;
  }
}

.btn-landing-page{
  margin: 0 auto;
  display: block;
  width: 200px;
  left: 0;
  text-align: center;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  &:hover{
    background: $mainColor;
    color: white;
    border: 1px solid $mainColor;
  }
}

.btn-image{
  width: 50px;
  height: 50px;
  border: 2px solid #f1f1f1;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
  > img{
    width: 100%;
  }

}

@media all
and (max-width : $widthPhone) {
  .mobile-menu-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0 !important;
    background: #fff;
    border-top: 1px solid #f1f1f1;
    .col-1,
    .col-1-2{
      margin: 0;
      padding: 0;
      .btn,
      .btn-invert,
      .btn-red{
        border-radius: 0;
        margin: 0;
        border: none;
        padding: 12px 0;
        width: 100%;
        float: none;
        font-size: $normal !important;
      }
    }

  }
}

