.dialog-bg{
  @include transition3s;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.8;
  z-index: $z-index-100;
  > [class^="icon-"],
  > [class*=" icon-"],
  > img{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    color: $mainColor;
    font-size: $iconSize;
    text-align: center;
  }
  > img{
    display: block;
    margin: 0 auto;
  }
  &.dialog-bg-red{
    > [class^="icon-"],
    > [class*=" icon-"] {
      color: $secondColor;
    }
  }
}

