@import "../variables";

.pace-progress {
  background: $mainColor;
  position: absolute;
  z-index: 2000;
  top: 0px;
  left: 0;
  height: 2px;
  width: 0;
  -webkit-transition: width 3s;
  -moz-transition: width 3s;
  -o-transition: width 3s;
  transition: width 3s;
  &.pace-active{
    width: 100%;
  }
}


.pace-inactive {
  display: none;
}