@import "../properties/all";

.tab-foodEvent {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0 !important;
  display: none;
  a {
    position: relative;
    color: $textColor;
    display: block;
    width: 100%;
    height: 50px;
    &.active,
    &:hover {
      span {
        @include transition3s;
        &[class^="icon-"] {
          background-color: $mainColor;
          color: white;
        }
        &.txt-small {
          color: $textColor;
        }
      }
    }
    span {
      float: left;
      @include transition3s;
      &.txt-small {
        font-size: 0.8em;
        width: 65%;
        margin-left: 10px;
        color: #cccccc;
      }
      &.txt-margin-top {
        margin-top: 15px;
      }
      &[class^="icon-"] {
        @include roundedImg;
        background-color: #f1f1f1;
        color: $mainColor;
        padding: 15px;
      }
    }
  }
}

.tab-foodEvent-content {
  .description, .prices, .foodType, .images {
    @include transition3s;
    display: none;
  }
  .active {
    @include transition3s;
    display: block;
  }
}