@import "../properties/variables";

.tooltip {
  position: absolute;
  width: 200px;
  &.tooltip-bottom {
    bottom: 35px;
    .tooltipArrow {
      background: url("../assets/css/arrow-bottom.png") transparent;
      margin: -1px auto 0;
    }
  }
  &.tooltip-top {
    top: 35px;
    .tooltipArrow {
      background: url("../assets/css/arrow-top.png") transparent;
      margin: -1px auto 0;
    }
  }
  &.tooltip-close {
    top: 62px;
    right: -15px;
    .tooltipArrow {
      position: absolute;
      top: 0;
      background: url("../assets/css/arrow-top.png") transparent;
      margin: -14px 0 0 139px;
    }
    .tooltipWrapper {
      font-size: 0.8em !important;
    }
  }
  .tooltipWrapper {
    font-family: 'SourceSansProLighter', sans-serif;
    font-size: 0.7em;
    background-color: white;
    border: 1px solid #f1f1f1;
    text-align: center;
    padding: 10px 10px;
    color: $textColor;
  }
  .tooltipArrow {
    width: 25px;
    height: 15px;
  }
}