@import '../properties/variables';

.video-wrapper{
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 600px;
  overflow: hidden;
  min-width: 100%;
  background-color: transparent;
  .video-wrapper-cover {
    background: $textColor;
    position: absolute;
    width: 100%;
    height: 600px;
    display: block;
    z-index: 1;
    opacity: 0.2;
  }
  video{
    top: 0 ;
    position: absolute;
    width: 100%;
  }
}
