<article class="center-content center-content-form"
         data-ng-controller="CreateBackgroundCtrl as createBg"
         data-ng-init="createBg.findActivity()">

    <h1 class="tit-section mt-0">
        <span data-ng-if="createBg.editingActivity">Edit:</span>
        {{createBg.activity.title}}
    </h1>

    <div class="txt-error-generic" data-ng-show="createBg.error">
        <span data-ng-bind="createBg.error"></span>
    </div>

    <div class="dialog-bg" ng-if="createBg.loading">
        <img ng-src="/imgs/app/loadering.gif" alt="Loading..."/>
    </div>

    <div class="dialog-bg" data-ng-if="createBg.success">
        <i class="icon-checkmark-circle"></i>
    </div>

    <form class="form">
        <div class="hr-1"></div>

        <set-section></set-section>

        <div class="hr-1 mb-25"></div>

        <fieldset class="field">

            <figure ng-show="!createBg.picFile && createBg.activity.background" class="field-background">
                <img ng-src="/imgs/activities/{{createBg.activity.background}}" alt="{{createBg.user.fullName}}">
            </figure>

            <figure ng-if="!createBg.picFile && !createBg.activity.background" class="field-background">
                <img ng-src="/imgs/app/people.jpg" alt="{{createBg.user.fullName}}">
            </figure>

            <figure ng-show="createBg.picFile" class="field-background">
                <img ng-show="form.file.$valid" ngf-thumbnail="createBg.picFile"
                     ngf-size="{width: 600, height: auto, quality: 0.5}">
            </figure>

            <div class="field-input field-input-img">
                <label class="btn">
                    Choose File
                    <input type="file" ngf-select ng-model="createBg.picFile" name="file" accept="image/*" ngf-max-size="2MB">
                </label>
            </div>

            <button class="btn p-float-right" ng-click="createBg.uploadBackground(createBg.picFile)" ng-show="createBg.picFile">Save Background</button>
            <button class="btn-red p-float-right mr-10" ng-click="createBg.picFile === null" ng-show="createBg.picFile">Remove</button>

        </fieldset>

        <div class="hr-1"></div>
        <div class="grid mobile-menu-footer">
            <div class="col-1">
                <button class="btn-invert p-float-right" data-ng-click="createBg.finishActivity()">
                    Complete your Activity
                </button>
            </div>
        </div>
    </form>

</article>