<article class="center-content center-content-form"
         data-ng-controller="CreateActivityCtrl as create">

    <h1 class="tit-section mt-0">{{ 'CREATE_NEW' | translate }}</h1>

    <div class="txt-error-generic" data-ng-show="error">
        <span data-ng-bind="create.error"></span>
    </div>

    <div class="dialog-bg" ng-if="create.loading">
        <img ng-src="/imgs/app/loadering.gif" alt="{{ 'LOADING' | translate }}"/>
    </div>

    <div class="dialog-bg" ng-if="create.success">
        <i class="icon-checkmark-circle"></i>
    </div>

    <form class="form">
        <div class="hr-1"></div>

        <set-section></set-section>

        <div class="hr-1 mb-25"></div>

        <fieldset class="field">
            <div class="field-label">
                <label for="title">{{ 'TITLE_ACTIVITY' | translate }}</label>
            </div>
            <div class="field-input">
                <input type="text" data-ng-model="create.title" id="title" placeholder="{{ 'TITLE_ACTIVITY' | translate }}" required />
            </div>
        </fieldset>
        <fieldset class="field">
            <div class="field-label">
                <label>{{ 'DATE_ACTIVITY' | translate }}</label>
            </div>
            <div class="field-input">
                <md-datepicker ng-model="create.activity_date"
                               md-placeholder="Enter date"
                               md-min-date="create.minDate">
                </md-datepicker>
            </div>
        </fieldset>
        <div class="hr-1"></div>
        <div class="grid mobile-menu-footer">
            <div class="col-1-2">
                <button class="btn-red p-float-left" data-ng-click="create.cancelCreation()">
                    {{ 'CANCEL' | translate }}
                </button>
            </div>
            <div class="col-1-2">
                <button class="btn-invert p-float-right" data-ng-click="create.createTeams()">
                    {{ 'EDIT_TEAMS' | translate }}
                </button>
            </div>
        </div>
    </form>
</article>