<article class="center-content center-content-form"
         data-ng-controller="EditActivityCtrl as edit"
         data-ng-init="edit.findActivity()">

    <h1 class="tit-section mt-0">{{ 'EDIT' | translate }}: {{edit.activity.title}}</h1>

    <div class="txt-error-generic" data-ng-show="edit.error">
        <span data-ng-bind="edit.error"></span>
    </div>

    <div class="dialog-bg" ng-if="edit.loading">
        <img ng-src="/imgs/app/loadering.gif" alt="Loading..."/>
    </div>
    <div class="dialog-bg" ng-if="edit.success">
        <i class="icon-checkmark-circle"></i>
    </div>

    <form class="form">
        <div class="hr-1"></div>

        <set-section></set-section>

        <div class="hr-1 mb-25"></div>

        <fieldset class="field">
            <div class="field-label">
                <label for="title">{{ 'TITLE_ACTIVITY' | translate }}</label>
            </div>
            <div class="field-input">
                <input type="text" data-ng-model="edit.activity.title" id="title" placeholder="{{ 'TITLE_ACTIVITY' | translate }}" required />
            </div>
        </fieldset>
        <fieldset class="field">
            <div class="field-label">
                <label>{{ 'DATE_ACTIVITY' | translate }}</label>
            </div>
            <div class="field-input">
                <md-datepicker ng-model="edit.activity_date"
                               md-placeholder="Enter Date"
                               md-min-date="edit.minDate">
                </md-datepicker>
            </div>
        </fieldset>
        <div class="hr-1"></div>
        <div class="grid mobile-menu-footer">
            <div class="col-1-2">
                <button class="btn-red p-float-left" data-ng-click="edit.cancelEdition()">
                    {{ 'CANCEL' | translate }}
                </button>
            </div>
            <div class="col-1-2">
                <button class="btn-invert p-float-right" data-ng-click="edit.editTeams()">
                    {{ 'EDIT_TEAMS' | translate }}
                </button>
            </div>
        </div>
    </form>
</article>