<article id="listActivities"
         class="center-content"
         data-ng-controller="ListActivitiesCtrl as list"
         data-ng-init="list.findActivities()">

    <h1 class="tit-section mt-0">
        {{ 'HANDLE_ACTIVITIES' | translate }}
    </h1>

    <div class="hr-1"></div>

    <div class="dialog-bg" ng-if="list.loading">
        <img ng-src="/imgs/app/loadering.gif" alt="{{ 'LOADING' | translate }}"/>
    </div>

    <div class="txt-message-generic" data-ng-show="list.activities.length">
        {{ 'HELLO' | translate }}
        {{list.authentication.user.username}},
        {{ 'WHY' | translate }}
        <a class="link" href="/#!/activities/create">{{ 'NEW_ACTIVITY' | translate }}</a>?
    </div>


    <div class="grid" data-ng-if="!loader">
        <div class="col-1-3" data-ng-repeat="activity in list.activities">
            <div class="box">
                <header class="box-header">
                    <button class="btn-red box-header-btn" data-ng-click="list.deleteActivity( activity._id )">
                        <i class="icon-cross"></i>
                        {{ 'REMOVE' | translate }}
                    </button>
                    <button class="btn box-header-btn left" data-ng-click="list.sendMails( activity._id )">
                        <i class="icon-envelope"></i>
                        {{ 'SEND_MAILS' | translate }}
                    </button>
                    <figure ng-if="activity.background" class="box-figure">
                        <img ng-src="/imgs/activities/{{activity.background}}" alt="{{activity.title}}">
                    </figure>
                    <figure ng-if="!activity.background" class="box-figure box-figure-empty">
                        <span>{{ 'NO_IMAGE' | translate }}</span>
                    </figure>
                    <h2 class="box-title">
                        <a  data-ng-href="#!/activities/{{activity._id}}/edit">
                            {{ activity.title | limitTo: 25 }}{{ activity.title.length > 25 ? '...' : '' }}
                        </a>

                    </h2>
                    <ul class="box-list">
                        <li>
                            <i class="icon-users"></i>
                            {{activity.team.length}} {{ 'TEAMS' | translate }}
                        </li>
                        <li>
                            <i class="icon-layers"></i>
                            {{activity.task.length}} {{ 'TASKS' | translate }}
                        </li>
                    </ul>
                </header>
                <div class="box-content">
                    <i class="icon-alarm"></i>
                    <small>{{ 'ACTIVITY_DATE' | translate }}: </small>
                    <small data-ng-bind="activity.activity_date | date:'d MMM y'"></small>
                    <small class="box-content-tag box-content-{{activity.state | lowercase}}" data-ng-bind="activity.state"></small>
                </div>

            </div>
        </div>
    </div>

    <div class="txt-error-generic" data-ng-hide="list.activities.length">
        No articles yet, why don't you <a class="link" href="/#!/activities/create">create one</a>?
    </div>

</article>