<article class="center-content center-content-form"
         data-ng-controller="CreateTasksCtrl as createTask"
         data-ng-init="createTask.findActivity()">

    <h1 class="tit-section mt-0">
        <span data-ng-if="createTask.editingActivity">Edit:</span>
        {{createTask.activity.title}}
    </h1>

    <div class="txt-error-generic" data-ng-show="createTask.error">
        <span data-ng-bind="createTask.error"></span>
    </div>

    <div class="dialog-bg" ng-if="createTask.loading">
        <img ng-src="/imgs/app/loadering.gif" alt="Loading..."/>
    </div>

    <div class="dialog-bg" data-ng-if="createTask.success">
        <i class="icon-checkmark-circle"></i>
    </div>

    <form class="form" novalidate>

        <div class="hr-1"></div>

        <set-section></set-section>

        <div class="hr-1 mb-25"></div>
        
        <set-tasks></set-tasks>

        <fieldset class="field">
            <div class="field-label">
                <label>Select the kind of task</label>
            </div>
            <div class="field-input">
                <md-select ng-model="createTask.kind_of" placeholder="Select the kind of task">
                    <md-option ng-repeat="opt in createTask.list_of_tasks" value="{{opt.value}}">
                        {{opt.sentence}}
                    </md-option>
                </md-select>
            </div>
        </fieldset>

        <fieldset data-ng-show="createTask.kind_of === 'Question'" class="field">
            <div class="field-label">
                <label>Write the question for your user</label>
            </div>
            <div class="field-input">
                <textarea data-ng-model="createTask.title" name="question" cols="30" rows="10"></textarea>
            </div>
        </fieldset>

        <fieldset data-ng-show="createTask.kind_of === 'Question'" class="field">
            <div class="field-label">
                <label for="response">Add the response to the question above</label>
            </div>
            <div class="field-input">
                <input type="text" data-ng-model="createTask.response" name="response" id="response"/>
            </div>
        </fieldset>

        <fieldset data-ng-show="createTask.kind_of === 'Multiple'" class="field">
            <div class="field-label">
                <label>Write the question for your user</label>
            </div>
            <div class="field-input">
                <textarea data-ng-model="createTask.title" name="question" cols="30" rows="10"></textarea>
            </div>
        </fieldset>

        <fieldset data-ng-show="createTask.kind_of === 'Multiple'" class="field">
            <div class="field-label">
                <label class="responses">Add the right response to the question above</label>
            </div>
            <div class="field-input">
                <input type="text" data-ng-model="createTask.right_response" name="responses" placeholder="Right response" required/>
            </div>
        </fieldset>
        <fieldset data-ng-show="createTask.kind_of === 'Multiple'" class="field">
            <div class="field-label">
                <label>Add the wrong responses to the question above</label>
            </div>
            <div class="field-input field-input-red">
                <div class="w-100 mb-10">
                    <input type="text" data-ng-model="createTask.wrong_response1" placeholder="Wrong response" required/>
                </div>
                <div class="w-100 mb-10">
                    <input type="text" data-ng-model="createTask.wrong_response2" placeholder="Wrong response" required/>
                </div>
            </div>
        </fieldset>

        <fieldset data-ng-show="createTask.kind_of === 'Picture'" class="field">
            <div class="field-label">
                <label>Describe the challenge which should be completed with a picture</label>
            </div>
            <div class="field-input">
                <textarea data-ng-model="createTask.title" name="question" cols="30" rows="10"></textarea>
            </div>
        </fieldset>

        <fieldset data-ng-show="createTask.kind_of === 'Clue'" class="field">
            <div class="field-label">
                <label>Adding a clue you are just informing users about something related with the Treasure Hunt</label>
            </div>
            <div class="field-input">
                <textarea data-ng-model="createTask.title" name="question" cols="30" rows="10"></textarea>
            </div>
        </fieldset>

        <!--<fieldset data-ng-show="createTask.kind_of === 'Position'" class="field">
            <div class="field-label">
                <label>Describe a place and mark it in the map</label>
            </div>
            <div class="field-input">
                <textarea data-ng-model="createTask.title" name="question" cols="30" rows="10"></textarea>
            </div>
            <ui-gmap-google-map center='createTask.map.center' zoom='createTask.map.zoom'></ui-gmap-google-map>
        </fieldset>-->


        <div class="hr-1"></div>

        <div class="grid mobile-menu-footer">
            <div class="col-1-2">
                <button class="btn p-float-left" data-ng-click="createTask.addTask()">
                    Add the New Task
                </button>
            </div>
            <div class="col-1-2">
                <button class="btn-invert p-float-right" data-ng-click="createTask.goToBackground()">Save tasks</button>
            </div>
        </div>
    </form>
</article>