<article class="center-content center-content-form"
         data-ng-controller="CreateTeamsCtrl as createTeam"
         data-ng-init="createTeam.findActivity()">

    <h1 class="tit-section mt-0">
        <span data-ng-if="createTeam.editingActivity">{{ 'EDIT' | translate }}:</span>
        {{createTeam.activity.title}}
    </h1>

    <div class="txt-error-generic" data-ng-show="createTeam.error">
        <span data-ng-bind="createTeam.error"></span>
    </div>

    <div class="dialog-bg" ng-if="createTeam.loading">
        <img ng-src="/imgs/app/loadering.gif" alt="Loading..."/>
    </div>

    <div class="dialog-bg" data-ng-if="createTeam.success">
        <i class="icon-checkmark-circle"></i>
    </div>

    <form class="form">
        <div class="hr-1"></div>

        <set-section></set-section>

        <div class="hr-1 mb-25"></div>

        <set-teams></set-teams>

        <fieldset class="field">
            <div class="field-label">
                <label for="nameTeam">Name of the Team</label>
            </div>
            <div class="field-input">
                <input type="text" data-ng-model="createTeam.team_name" id="nameTeam" placeholder="Name of the Team" required />
            </div>
        </fieldset>

        <fieldset class="field">
            <div class="field-label">
                <label for="nameLeader">Name of the Team leader</label>
            </div>
            <div class="field-input">
                <input type="text" data-ng-model="createTeam.team_leader" id="nameLeader" placeholder="Name of the Team Leader" required />
            </div>
        </fieldset>

        <fieldset class="field">
            <div class="field-label">
                <label for="teamEmail">Email of the Team leader</label>
            </div>
            <div class="field-input">
                <input type="email" data-ng-model="createTeam.team_email" id="teamEmail" placeholder="Email of the Team leader" required />
            </div>
        </fieldset>

        <div class="hr-1"></div>
        <div class="grid mobile-menu-footer">
            <div class="col-1-2">
                <button class="btn p-float-left" data-ng-click="createTeam.addTeam()">
                    Add the New Team
                </button>
            </div>
            <div class="col-1-2">
                <button class="btn-invert p-float-right" data-ng-click="createTeam.goToTasks()">
                    Save Teams
                </button>
            </div>
        </div>
    </form>

</article>