<div class="form-page-header landing-page-header"
     data-ng-controller="ViewActivityController as view"
     data-ng-init="view.findActivity()">

    <header class="main-header">
        <figure data-ng-if="!self.activity.background && !picFile" class="main-header-figure main-header-figure-empty">
            <span>No Image Uploade</span>
        </figure>
        <figure ng-show="activity.background" class="main-header-figure">
            <img ng-src="/imgs/activities/{{activity.background}}" alt="{{activity.title}}">
            <img class="blur" ng-src="/imgs/activities/{{activity.background}}" alt="{{activity.title}}">
        </figure>
        <figure ng-show="picFile" class="main-header-figure">
            <img ng-show="form.file.$valid" ngf-thumbnail="picFile" class="thumb">
        </figure>
        <div>
            <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB">
            <i ng-show="form.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
            <button ng-click="picFile = null" ng-show="picFile">Remove</button>
            <button ng-click="uploadAvatar(picFile)">Submit</button>
                <span class="progress" ng-show="picFile.progress >= 0">
                    <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
    </header>

    <article class="center-content-wrapper" >
        <div class="center-content">
            <h1 class="tit-section mt-0 mb-0" data-ng-bind="view.activity.title"></h1>
            <p class="tit-section mt-4 txt-small">
                <em>Created on</em>
                <em data-ng-bind="view.activity.created | date:'mediumDate'"></em>
                <em>by</em>
                <em data-ng-bind="view.authentication.user.username"></em>
                <span> - </span>
                <em class="box-content-tag box-content-{{activity.state | lowercase}}"
                    data-ng-bind="view.activity.state">
                </em>
            </p>
            <div class="hr-1"></div>
            <div class="grid">
                <div class="clearfix col-2-3">
                    <h2>Teams</h2>
                    <set-teams></set-teams>
                    <h2>Tasks</h2>
                    <set-tasks></set-tasks>
                </div>
                <div class="col-1-3" data-ng-show="view.authentication.user._id == view.activity.creator">
                    <a class="btn-invert p-float-right" href="/#!/activities/{{activity._id}}/edit">Edit Activity</a>
                    <button class="btn-red p-float-right" data-ng-click="view.deleteActivity()">Delete Activity</button>

                </div>
            </div>
        </div>

    </article>
</div>
